# 가치 투자 퀀트 전략

## 퀀트란 무엇인가?
- "퀀트"는 양자적인 방법(Quantitative)을 사용하여 금융 시장에서 거래하거나 투자를 하는 전략을 가리키는 용어이다.
- 퀀트 전략은 대개 인간의 주관이나 감각이 아닌 데이터와 수치를 중심으로 결정을 내리려는 것을 특징으로 한다.
- 퀀트 트레이딩이나 투자의 주요 특징은 다음과 같다.
   
    -  **데이터 분석**: 퀀트 전략은 엄청난 양의 금융 데이터를 수집하고 분석하여 시장 동향, 패턴, 상관 관계 등을 찾는다.
    - **통계 및 모델링**: 통계학적 모델이나 머신 러닝 알고리즘을 사용하여 데이터를 분석하고, 시장의 미래 동향을 예측하는 데에 활용 된다.
    - **알고리즘 트레이딩**: 컴퓨터 프로그램이 자동으로 거래를 실행하는데에 사용되는 알고리즘을 개발합니다.
          이로써 빠르게 변하는 시장 조건에 대응할 수 있다.
    - **리스크 관리**: 퀀트 전략은 리스크를 효과적으로 관리하기 위한 방법을 개발하며, 이는 종종 포트폴리오의 다양성을 강조하거나 손실을 최소화하기
        위한 수학적인 모델을 포함할 수 있다.

## 그래서 **가치 투자 퀀트 전략**이란 무엇인가?
- 가치 투자 원칙을 기반으로 한 양자적인 방법이다. 가치 투자는 기업의 기본 가치에 기초하여 저평가된 주식을 찾아 투자하는 전략을 의미한다.
- 여러 '퀀트 전략' 중 가장 널리 알려진 조엘 그린블라트의 '마법공식'을 이번 프로젝트로 하여금 소개하겠다.
- '마법공식'의 핵심은 **자본 수익률**과 **이익 수익률** 순위를 매겨 상위 종목의 기업을 선택하는 것이다.

## 마법공식 워크플로
1. 투자에 사용할 자금과 투자 대상 기업 규모를 설정한다.
2. 마법공식에 따른 순위를 나열한다. 예를 들어, 코스피 200에서 **자본 수익률**이 높은 기업에 대한 순위를 매기고, 동시에 **이익 수익**률이 높은 기업을 순서대로 나열한다.
3. **자본 수익률** 순위와 **이익 수익률** 순위를 더한다. 예를 들면, **자본 수익률** 순위 1위와 **이익 수익률** 순위 4위의 총합은 5이다.  더한 값의 등수가 낮은 순으로 순위를 매긴다.  `cf.) ROA는 높고, PER는 낮은 저렴하지만 우량한 종목을 선별`
4. 등수가 가장 낮은 5 ~ 7개 기업을 매수한다.  처음 투자 기간 1년 동안은 투자 금액의 20~30%만 매수한다
5. 나머지 자금을 2~3개월 마다 위 과정을 반복해 예정 투자금의 100%를 사용해 매수한다.
6. 매수가 완료된 주식을 1년 동안 보유한 후 매도한다.
7. 매도 이후 위 과정을 계속해서 반복한다..

- **자본 수익률**은 투입된 자본 대비 수익을 판단, **이익 수익률**은 주가 대비 수익을 판단하는 지표.  하지만 일반 사용자는 각 수치를 계산하기 어려우므로, 대개 자본 수익률 대신 `총자산 순이익률(ROA)`   이익 수익률 대신 `주가 수익률(PER)`을 이용해 마법 공식을 구성한다.
- `총자산 순이익률(ROA)`? 기업의 순이익을 전체 자산으로 나눈 비율
  - 총자산 순이익률 = (순이익/총자산) * 100
  - **높은 총자산 순이익률은 효율적인 자산 활용과 이익 창출을 나타냄**

- `주가 수익률(PER)`? 투자자에게 해당 기간 동안 주식 투자의 수익을 알려주는 지표
  - 주가 수익률 = ((종가 - 시가) / 시가) * 100
  - **낮은 주가 수익률은 실제 기업이 내는 이익 보다 주가가 낮은 가격에 거래되고 있다는 의미**

### 위 공식대로 종목을 선별하고, 매수 후 1년간 보유하는 방식으로 수익률을 계산해 보겠다.

#### 1. 데이터 구성 확인

In [2]:
import numpy as np
import pandas as pd
import requests
from tqdm import tqdm
from datetime import datetime, timedelta

In [3]:
!pip install -U finance-datareader

#이 부분은 프로젝트를 실행시키기 전에 반드시 설치해야 하는 부분이다.

Requirement already satisfied: finance-datareader in c:\users\user\anaconda3\lib\site-packages (0.9.66)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.66.1)
Requirement already satisfied: requests-file in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.9.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (2.31.0)
Requirement already satisfied: pandas>=0.19.2 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (2.0.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.18)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)

In [4]:
import FinanceDataReader as fdr
krx_df = fdr.StockListing('KRX') # 'KRX' 한국 거래소에 상장된 전체 종목 리스트를 출력
krx_df.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,71400,2,-300,-0.42,71500,72100,71100,6875371,491871131300,426242474070000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,433000,2,-9500,-2.15,446000,447500,432500,119242,52387140500,101322000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,130200,1,2200,1.72,129200,130600,128400,1802887,234040050700,94785907923000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,702000,2,-7000,-0.99,709000,712000,700000,45113,31673606000,49964148000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,57200,3,0,0.00,57200,57600,57100,453879,26020859700,47069119240000,822886700,STK

#### 2.종목별 주요 지표 찾기
- http://finance.naver.com/sise/sise_market_sum.nhn 사이트 접속
- 원하는 항목 선택 후 해당 항목을 부를 수 있는 주소 추출하기

In [5]:
url = 'http://finance.naver.com/sise/field_submit.nhn'

In [6]:
params = {
    'menu': 'market_sum',
    'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?&page=1',
    'fieldIds': ['quant','per','roa','pbr','dividend','market_sum','operating_profit','operating_profit_increasing_rate']
}

In [7]:
res = requests.get(url, params=params)

In [8]:
df = pd.read_html(res.text)[1]

In [9]:
df

,N,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,영업이익,보통주배당금,영업이익증가율,PER,ROA,PBR,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,71300.0,400.0,-0.56%,100.0,6825895.0,4256455.0,433766.0,1444.0,-15.99,15.16,12.72,1.37,NaN
2,2.0,LG에너지솔루션,433000.0,9500.0,-2.15%,500.0,127730.0,1013220.0,12137.0,NaN,57.94,66.59,2.51,4.94,NaN
3,3.0,SK하이닉스,130200.0,2200.0,+1.72%,5000.0,1898810.0,947859.0,68094.0,1200.0,-45.13,-8.25,2.24,1.62,NaN
4,4.0,삼성바이오로직스,703000.0,6000.0,-0.85%,2500.0,47185.0,500353.0,9836.0,0.0,83.07,53.40,6.50,5.24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,삼성중공업,7830.0,200.0,+2.62%,1000.0,3091360.0,68904.0,-8544.0,NaN,34.87,-33.61,-4.71,1.71,NaN
77,50.0,SK스퀘어,48950.0,900.0,+1.87%,100.0,215776.0,68031.0,1628.0,0.0,-61.23,-4.26,1.14,0.42,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['N', '종목명', '현재가', '전일비', '등락률', '액면가', '거래량', '시가총액', '영업이익', '보통주배당금',
       '영업이익증가율', 'PER', 'ROA', 'PBR', '토론실'],
      dtype='object')

In [11]:
#위의 df.columns 컬럼에서 컬럼들을 출력한 뒤, 필요한 것만 출력한다.
df[['종목명','현재가','전일비','등락률','액면가','거래량','시가총액','영업이익','PER','ROA']]

,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,영업이익,PER,ROA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,삼성전자,71300.0,400.0,-0.56%,100.0,6825895.0,4256455.0,433766.0,15.16,12.72
2,LG에너지솔루션,433000.0,9500.0,-2.15%,500.0,127730.0,1013220.0,12137.0,66.59,2.51
3,SK하이닉스,130200.0,2200.0,+1.72%,5000.0,1898810.0,947859.0,68094.0,-8.25,2.24
4,삼성바이오로직스,703000.0,6000.0,-0.85%,2500.0,47185.0,500353.0,9836.0,53.40,6.50
...,...,...,...,...,...,...,...,...,...,...
76,삼성중공업,7830.0,200.0,+2.62%,1000.0,3091360.0,68904.0,-8544.0,-33.61,-4.71
77,SK스퀘어,48950.0,900.0,+1.87%,100.0,215776.0,68031.0,1628.0,-4.26,1.14
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 3.다수 종목 데이터 가져오기
- KOSPI 가져오기

In [12]:
result_df = pd.DataFrame() # 빈 프레임 만들기

for i in tqdm(range(1, 20)):
    url = 'http://finance.naver.com/sise/field_submit.nhn'
    params = {
            'menu': 'market_sum',
            'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?&page='+str(i),
            'fieldIds': ['quant','per','roa','pbr','dividend','market_sum','operating_profit','operating_profit_increasing_rate']
        }
    
    res = requests.get(url, params = params)
    df = pd.read_html(res.text)[1]
    df['시장'] = 'KOSPI'
    
    result_df = pd.concat([result_df, df[['종목명','현재가','전일비','등락률','액면가','거래량','시가총액','영업이익','PER','ROA','시장']]], ignore_index=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [00:03<00:00,  5.67it/s]

In [13]:
result_df = result_df.dropna()
#dropna을 통해 결측치를 제거한다.

In [14]:
result_df
#데이터를 잘 불러왔는지를 출력하기 위해 결과값을 출력한다.

,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,영업이익,PER,ROA,시장
1,삼성전자,71300.0,400.0,-0.56%,100.0,6825895.0,4256455.0,433766.0,15.16,12.72,KOSPI
2,LG에너지솔루션,433000.0,9500.0,-2.15%,500.0,127730.0,1013220.0,12137.0,66.59,2.51,KOSPI
3,SK하이닉스,130200.0,2200.0,+1.72%,5000.0,1898810.0,947859.0,68094.0,-8.25,2.24,KOSPI
4,삼성바이오로직스,703000.0,6000.0,-0.85%,2500.0,47185.0,500353.0,9836.0,53.40,6.50,KOSPI
9,POSCO홀딩스,468000.0,4500.0,-0.95%,5000.0,297651.0,395793.0,48501.0,31.96,3.75,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...
1526,사조오양,8530.0,60.0,-0.70%,5000.0,7319.0,804.0,102.0,5.04,2.59,KOSPI
1527,조광페인트,6240.0,70.0,-1.11%,500.0,11139.0,799.0,-16.0,-16.96,-1.98,KOSPI
1532,고려산업,3195.0,30.0,-0.93%,1000.0,57476.0,797.0,44.0,13.89,0.16,KOSPI
1533,대동전자,7580.0,50.0,-0.66%,500.0,311.0,795.0,22.0,5.42,3.72,KOSPI
1534,남성,2195.0,35.0,+1.62%,500.0,3220021.0,795.0,25.0,-9.15,1.13,KOSPI

####  4.코스닥 더해서 추가하기

In [15]:
#for문을 활용해서 데이터를 가져온다.

for i in tqdm(range(1, 28)) :
    url = 'http://finance.naver.com/sise/field_submit.nhn'
    params = {
            'menu': 'market_sum',
            'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?sosok=1&page='+str(i),
            'fieldIds': ['quant','per','roa','pbr','dividend','market_sum','operating_profit','operating_profit_increasing_rate']
        }
    
    res = requests.get(url, params = params)
    df = pd.read_html(res.text)[1]
    df['시장'] = 'KOSDAQ'
    
    result_df = pd.concat([result_df, df[['종목명','현재가','전일비','등락률','액면가','거래량','시가총액','영업이익','PER','ROA','시장']]], ignore_index=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:04<00:00,  5.72it/s]

In [16]:
result_df = result_df.dropna()

In [17]:
result_df

#코스닥까지 더해진 데이터이다.

,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,영업이익,PER,ROA,시장
0,삼성전자,71300.0,400.0,-0.56%,100.0,6825895.0,4256455.0,433766.0,15.16,12.72,KOSPI
1,LG에너지솔루션,433000.0,9500.0,-2.15%,500.0,127730.0,1013220.0,12137.0,66.59,2.51,KOSPI
2,SK하이닉스,130200.0,2200.0,+1.72%,5000.0,1898810.0,947859.0,68094.0,-8.25,2.24,KOSPI
3,삼성바이오로직스,703000.0,6000.0,-0.85%,2500.0,47185.0,500353.0,9836.0,53.40,6.50,KOSPI
4,POSCO홀딩스,468000.0,4500.0,-0.95%,5000.0,297651.0,395793.0,48501.0,31.96,3.75,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...
2848,솔트웨어,1388.0,0.0,0.00%,100.0,438196.0,476.0,-6.0,37.51,-19.38,KOSDAQ
2849,네이블,7270.0,10.0,+0.14%,500.0,7186.0,475.0,34.0,16.37,15.58,KOSDAQ
2850,코이즈,1549.0,6.0,-0.39%,500.0,80351.0,474.0,-72.0,-7.17,-26.83,KOSDAQ
2851,투비소프트,603.0,3.0,+0.50%,500.0,136725.0,473.0,-38.0,-3.30,-16.74,KOSDAQ
2852,휴림네트웍스,434.0,6.0,-1.36%,200.0,125535.0,472.0,-160.0,-2.00,-25.93,KOSDAQ

In [18]:
result_df.shape

(1941, 11)

In [20]:
result_df.isnull().sum() 
#결측치가 있는지 확인하기 위해 isnull을 적는다.

종목명     0
현재가     0
전일비     0
등락률     0
액면가     0
거래량     0
시가총액    0
영업이익    0
PER     0
ROA     0
시장      0
dtype: int64

In [21]:
working_data = result_df.copy()

In [22]:
working_data.to_csv('종목현황.csv', encoding='euckr')
#한글 인코딩 중 하나인 euckr을 잘 보도록 하자.

###  5.PER와 ROA 지표를 가지고 마법공식을 구현
- 먼저 공통으로 사용할 수 있는 순위 계산을 실행하는 함수 생성

In [23]:
df = pd.read_csv('data/종목현황.csv', engine='python', encoding='CP949')
df.head()

,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,영업이익,PER,ROA,시장
0,삼성전자,71700,700,-0.97%,100,6394446,4280334,433766,15.24,12.72,KOSPI
1,LG에너지솔루션,442500,6000,-1.34%,500,132375,1035450,12137,68.06,2.51,KOSPI
2,SK하이닉스,128000,2100,-1.61%,5000,1854696,931843,68094,-8.12,2.24,KOSPI
3,삼성바이오로직스,709000,12000,-1.66%,2500,46246,504624,9836,53.86,6.50,KOSPI
4,POSCO홀딩스,472500,2500,-0.53%,5000,367572,399599,48501,32.27,3.75,KOSPI

In [24]:
df.columns

Index(['종목명', '현재가', '전일비', '등락률', '액면가', '거래량', '시가총액', '영업이익', 'PER', 'ROA',
       '시장'],
      dtype='object')

In [25]:
#데이터를 정렬하기 위한 함수를 정의한다.

def sort_value( s_value, asc = True, standard = 0): 
    '''
    description
        특정 지표값을 정렬한다.
        
    parameters
        s_value : pandas Series
            정렬할 데이터를 받는다.
            
        asc : bool
            True : 오름차순
            False : 내림차순
            
        standard : int
            조건에 맞는 값을 True로 대체하기 위한 기준값 
    returns 
        s_value_mask_rank : pandas Series
            정렬된 순위
    ''' 
    #지표별 기준값 미만은 필터링 한다.
    s_value_mask = s_value.mask(s_value < standard, np.nan)  
    # 필터링된 종목에서 순위 선정
    s_value_mask_rank = s_value_mask.rank( ascending=asc, na_option="bottom") 
    
    return s_value_mask_rank

#### sort_value() 함수는 입력 매개변수를 각각 정렬할 데이터와 정렬 방식 및 조건 기준값을 받는다.
1. 입력 매개변수로 전달받은 기준값 미만의 값은 제거한다. 마법공식은 음숫값을 갖는 지표는 사전에 제거한다. mask() 함수를 사용해 0미만의 값을 제거한다.
2. rank() 함수를 사용해 순위를 정렬한다.
3. 정렬된 데이터를 반환한다.

In [26]:
#자, 이제부터 per과 roa의 순위를 sort_value을 통해 구한다. 이 때, 오름차순을 적용할지 내림차순을 적용해야 할지 잘 파악해야 한다.

per = pd.to_numeric(df['PER'])
roa = pd.to_numeric(df['ROA'])
# per = df['PER']

# PER 지표값을 기준으로 순위 정렬 및 0 미만 값 제거
per_rank = sort_value(per, asc=True, standard=0 ) # PER 오름차순 정렬
# ROA 지표값을 기준으로 순위 정렬 및 0 미만 값 제거
roa_rank = sort_value(roa, asc=False, standard=0 ) # ROA 내림차순 정렬

In [27]:
per_rank.head()

0     707.0
1    1187.0
2    1635.5
3    1139.0
4    1015.0
Name: PER, dtype: float64

In [28]:
roa_rank.head()

0     174.5
1    1020.0
2    1057.5
3     533.5
4     841.0
Name: ROA, dtype: float64

#### 6.두 개의 순위를 합산해 종합 순위를 계산

In [29]:
result_rank = per_rank + roa_rank   # PER 순위 ROA 순위 합산
result_rank = sort_value(result_rank, asc=True)  # 합산 순위 정렬
result_rank = result_rank.where(result_rank <= 10, 0)  # 합산 순위 필터링:상위 10개 종목만 0 표시.
result_rank = result_rank.mask(result_rank > 0, 1)  # 순위 제거 / 순위를 체크하려면 주석처리

In [30]:
result_rank.head()  # 0과 1로 상위 10개 종목에 포함되는지 여부를 표시.

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [31]:
result_rank.sum() # 총개수가 sum()을 통해 10개임을 확인가능.

10.0

#### 7.마법공식을 통해 선정된 종목을 확인

In [32]:
mf_df = df.loc[result_rank > 0,['종목명','시가총액','시장']].copy() # 선택된 종목 데이터프레임 복사
mf_stock_list = df.loc[result_rank > 0, '종목명'].values # 선택된 종목명 추출

In [33]:
mf_df

          종목명    시가총액      시장
30        HMM  107972   KOSPI
183   영원무역홀딩스   10868   KOSPI
214      KG스틸    8271   KOSPI
293     KG케미칼    4587   KOSPI
374       휴스틸    2832   KOSPI
818    KG ETS    4226  KOSDAQ
1054    리튬포어스    2050  KOSDAQ
1386    에스트래픽    1079  KOSDAQ
1536      메카로     883  KOSDAQ
1759     제이엠티     642  KOSDAQ

In [34]:
mf_stock_list

array(['HMM', '영원무역홀딩스', 'KG스틸', 'KG케미칼', '휴스틸', 'KG ETS', '리튬포어스',
       '에스트래픽', '메카로', '제이엠티'], dtype=object)

#### 8.외부 데이터 프레임에서 불러온 종목 코드를 결합

In [35]:
# 다시 처음에 확인했던 종목 데이터를 확인.
import FinanceDataReader as fdr
krx_df = fdr.StockListing('KRX')
krx_df.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,71300,2,-400,-0.56,71500,72100,71100,6887196,492714799300,425645495815000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,433000,2,-9500,-2.15,446000,447500,432500,119795,52626651500,101322000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,130200,1,2200,1.72,129200,130600,128400,1805158,234335873000,94785907923000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,702000,2,-7000,-0.99,709000,712000,700000,45167,31711555000,49964148000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,57100,2,-100,-0.17,57200,57600,57100,459560,26345571000,46986830570000,822886700,STK

In [36]:
mf_df['종목코드'] = ''
for stock in mf_stock_list :
    # 데이터프레임에서 조건에 맞는 데이터만 불러온다.
    #mf_df의 종목 코드를 krx_df의 종목 코드로 채운다.
    mf_df.loc[mf_df['종목명'] == stock,'종목코드'] = krx_df[krx_df['Name'] == stock]['Code'].values

In [37]:
mf_df
#앞의 mf_df와 비교해 보면, '종목코드'란에 코드들이 추가가 된 것을 볼 수 있다.

          종목명    시가총액      시장    종목코드
30        HMM  107972   KOSPI  011200
183   영원무역홀딩스   10868   KOSPI  009970
214      KG스틸    8271   KOSPI  016380
293     KG케미칼    4587   KOSPI  001390
374       휴스틸    2832   KOSPI  005010
818    KG ETS    4226  KOSDAQ  151860
1054    리튬포어스    2050  KOSDAQ  073570
1386    에스트래픽    1079  KOSDAQ  234300
1536      메카로     883  KOSDAQ  241770
1759     제이엠티     642  KOSDAQ  094970

####  9.2022년도 마법공식 종목들의 수익률 확인(1)

In [38]:
mf_df['2022_수익률'] = ''
for x in mf_df['종목코드'].values : 
    df = fdr.DataReader(x, '2022-01-01','2022-12-31') # 개별 종목 가격 데이터 호출
    cum_ret = df.loc[df.index[-1], 'Close'] / df.loc[df.index[0],'Close'] -1  # 2022년도 누적 수익률 계산
    mf_df.loc[mf_df['종목코드'] == x, '2022_수익률' ] = cum_ret  # 누적 수익률 저장
    df = None

In [39]:
mf_df  
# 리튬포어스는 약 115%의 수익률을 얻었고, KG스틸은 약 -30%의 수익률을 기록했다.

          종목명    시가총액      시장    종목코드  2022_수익률
30        HMM  107972   KOSPI  011200 -0.283883
183   영원무역홀딩스   10868   KOSPI  009970  0.309168
214      KG스틸    8271   KOSPI  016380 -0.312558
293     KG케미칼    4587   KOSPI  001390 -0.328431
374       휴스틸    2832   KOSPI  005010  0.934376
818    KG ETS    4226  KOSDAQ  151860  -0.34898
1054    리튬포어스    2050  KOSDAQ  073570  1.153285
1386    에스트래픽    1079  KOSDAQ  234300 -0.275568
1536      메카로     883  KOSDAQ  241770 -0.242105
1759     제이엠티     642  KOSDAQ  094970 -0.281723

####  수익률 확인(2)

In [48]:
for ind,val in enumerate(mf_df['종목코드'].values) : 
    # 가독성을 위해 종목명 추출.
    code_name = mf_df.loc[mf_df['종목코드'] == val,'종목명'].values[0]
    print(val, code_name)
    df = fdr.DataReader(val, '2022-01-01','2022-12-31') # 개별 종목 가격 데이터 호출
    if ind == 0 :
        mf_df_rtn = pd.DataFrame(index=df.index) # 첫 번째 종목코드 인덱스 활용한 데이터프레임 생성
    df['daily_rtn'] = df['Close'].pct_change(periods=1) # period 기간 차이만큼 변동율 계산
    df['cum_rtn'] = (1+df['daily_rtn']).cumprod() # 누적 곱 계산
    tmp = df.loc[:,['cum_rtn']].rename(columns={'cum_rtn':code_name}) # 가독성을 위한 컬럼명 변경
    mf_df_rtn = mf_df_rtn.join(tmp,how='left') # 새로 계산된 누적 수익률 추가.
    df = None # 데이터 프레임 초기화

011200 HMM
009970 영원무역홀딩스
016380 KG스틸
001390 KG케미칼
005010 휴스틸
151860 KG ETS
073570 리튬포어스
234300 에스트래픽
241770 메카로
094970 제이엠티

In [49]:
mf_df_rtn.tail(245)

,HMM,영원무역홀딩스,KG스틸,KG케미칼,휴스틸,KG ETS,리튬포어스,에스트래픽,메카로,제이엠티
Date,,,,,,,,,,
2022-01-04,1.000000,1.000000,1.069767,1.013072,1.024418,1.020408,1.105839,1.017045,1.000000,0.981374
2022-01-05,1.005495,1.010661,1.093023,1.003268,1.038535,1.010204,1.248175,1.001894,0.978947,0.973225
2022-01-06,0.963370,1.024520,1.097674,0.985294,1.093857,0.989796,1.102190,0.962121,0.964912,0.928987
2022-01-07,0.967033,1.025586,1.079070,0.995098,1.111408,1.003401,1.109489,0.900568,0.957895,0.941793
2022-01-10,0.959707,1.049041,1.093023,0.988562,1.062572,0.979592,1.018248,0.876894,0.950877,0.925495
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,0.794872,1.364606,0.719070,0.705882,1.858069,0.647619,2.087591,0.785038,0.757895,0.742724
2022-12-26,0.796703,1.358209,0.715349,0.702614,1.915300,0.678912,2.145985,0.759470,0.754386,0.747381
2022-12-27,0.800366,1.353945,0.725581,0.710784,2.006868,0.659184,2.211679,0.755682,0.764912,0.759022
2022-12-28,0.736264,1.326226,0.718140,0.699346,1.942007,0.683673,2.240876,0.750947,0.750877,0.740396
2022-12-29,0.716117,1.309168,0.687442,0.671569,1.934376,0.651020,2.153285,0.724432,0.757895,0.718277

#### 수익률 확인(3)

In [50]:
mf_df_rtn = pd.DataFrame()

for x in mf_df['종목코드'].values : 
#     print(x ,', ' , mf_df.loc[mf_df['종목코드'] == x, '종목명' ].values[0])
    df = fdr.DataReader(x, '2022-01-01','2022-12-31') # 개별 종목 가격 데이터 호출
    df['daily_rtn'] = df['Close'].pct_change(periods=1)
    df['cum_rtn'] = (1+df['daily_rtn']).cumprod()
    cum_ret = df.loc[df.index[-1],'cum_rtn']
    mf_df.loc[mf_df['종목코드'] == x, '2022_수익률' ] = cum_ret  # 누적 수익률 저장
    df = None

In [52]:
mf_df
#위와 같은 식으로, 2022년의 수익률을 구할 수 있다.

          종목명    시가총액      시장    종목코드  2022_수익률
30        HMM  107972   KOSPI  011200  0.716117
183   영원무역홀딩스   10868   KOSPI  009970  1.309168
214      KG스틸    8271   KOSPI  016380  0.687442
293     KG케미칼    4587   KOSPI  001390  0.671569
374       휴스틸    2832   KOSPI  005010  1.934376
818    KG ETS    4226  KOSDAQ  151860   0.65102
1054    리튬포어스    2050  KOSDAQ  073570  2.153285
1386    에스트래픽    1079  KOSDAQ  234300  0.724432
1536      메카로     883  KOSDAQ  241770  0.757895
1759     제이엠티     642  KOSDAQ  094970  0.718277

### 10.마법공식의 한계점
- `단순화된 모델`: 마법공식은 기업의 수익성과 가치만을 고려하며, 기타 요인들을 고려하지 않습니다. 예를 들어, 산업 동향, 경제 상황, 경영진의 품질 등을 고려하지 않기 때문에 이러한 측면을 고려하는 다양한 다른 요인들이 있을 수 있습니다.

- `시장 조정 시의 한계`: 시장 참여자들이 마법공식을 사용하기 시작하면 해당 전략이 성공적으로 작동하기 힘들어질 수 있습니다. 왜냐하면 시장은 항상 변하고, 한 전략이 널리 알려지면 시장 참여자들이 그에 따라 행동하기 시작하기 때문입니다.

- `재무 제표의 한계`: 마법공식은 주로 재무 제표를 기반으로 합니다. 그러나 재무 제표는 일부 정보를 생략하거나 왜곡할 수 있습니다. 예를 들어, 회계 정책의 변경이나 일시적인 이벤트로 인해 실제 기업의 가치가 왜곡될 수 있습니다.

- `투자자 행동의 영향`: 전략이 널리 알려지면 투자자들이 해당 전략에 따라 행동하면서 시장 가격이 왜곡될 수 있습니다. 이로 인해 실제 가치와 현재 가격 간의 차이가 축소되면서 기대 수익이 감소할 수 있습니다.

- `단기적인 변동성`: 주가는 단기적으로 변동할 수 있습니다. 따라서 투자자가 단기적인 시장 변동에 대처할 수 있는 투자 전략을 구축하는 것이 중요합니다.
    - 마법공식은 투자 전략 중 하나일 뿐이며, 투자 결정을 내리기 전에 다양한 정보와 전략을 고려하는 것이 중요하다. 또한, 투자는 항상 리스크를 동반하므로 신중한 분석과 투자 전략의 다양성이 중요하다.

In [40]:
phase_flag = '3'

#기간에 따라 구분한다.

if phase_flag == '1' :
    train_from = '2010-01-04'
    train_to = '2012-01-01'

    val_from = '2012-01-01'
    val_to = '2012-04-01'

    test_from = '2012-04-01'
    test_to = '2012-07-01'

elif phase_flag == '2' :
    train_from = '2012-07-01'
    train_to = '2014-07-01'

    val_from = '2014-07-01'
    val_to = '2014-10-01'

    test_from = '2014-10-01'
    test_to = '2015-01-01'
    
else: 
    train_from = '2015-01-01'
    train_to = '2017-01-01'

    val_from = '2017-01-01'
    val_to = '2017-04-01'

    test_from = '2017-04-01'
    test_to = '2017-07-01'

In [ ]:
!pip install TA_Lib-0.4.24-cp38-cp38-win_amd64.whl